EXPO_PUBLIC_API_TARGET=local

EXPO_PUBLIC_API_BASE_URL_LOCAL=https://192.168.0.38:8080
EXPO_PUBLIC_API_BASE_URL_TEST=http://172.30.1.48:8080/api
EXPO_PUBLIC_API_BASE_URL_REAL=https://thefull.kr/api

# 필요하면 특정 주소를 직접 고정할 수도 있습니다.
# EXPO_PUBLIC_API_BASE_URL=http://172.30.1.48:8080/api
